# my own conventions
*.diff
*.patch
*.cnf

*.com
*.class
*.dll
*.exe
*.o
*.so

# A few additional from TSVN's ignore
*.lo
*.la
#*#
**/#*#
.#*
*.obj
*.ncb
*.lib
.*~
*~
*.*~
*.~*
~*.*
*.bak 
*.mine
*.idb
*.ilk
*.msi
*.res
*.pch
*.exp


*.7z
*.dmg
*.gz
*.iso
*.jar
*.rar
*.tar
*.zip

# M$$QL specialties
*.log
*.mdb
*.ldb
*.mdf
*.ldf


# Windows specialties
.DS_Store
.DS_Store?
._*
.Spotlight-V100
.Trash
ehthumbs.db
[Tt]humbs.db
.*.rej
*.rej


#.svn

# Visual Stupido specialties
*.suo
*.pdb
[Rr]elease/
[Dd]ebug/
[Ii]gnore/
[Bb]in/
[Oo]bj/
*.csproj.[Uu]ser
*.[Uu]ser
*.generated.cs
*[Nn][Cc]runch*
[Tt]est[Rr]esults
*.psess
*.vsp
[Tt]emp/
[Tt]mp/
packages/

## Java & Maven
target/
.idea/
*.iml
